.page-container {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.page-container > .pages {
    height: 100%;
    width: 100%;
    max-width: 1120px;
    /* background-color: rgb(31, 31, 31, 0.9); */
    background-color: rgba(31,31,31, .65);
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.page-container > .statistics-page {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.page-container > .active-page {
    z-index: 10;
    opacity: 1;
}

.cards-information {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    color: #EBEBEB;
}

.statistics-page .card {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.statistics-page .card > img {
    height: 50px;
}

.statistics-page .major-card {
    border-radius: 0;
    border-bottom: 3px solid white;
    font-size: 2em;
    padding: 0;
    height: 330px;
}

.statistics-page .major-card > img {
    height: 150px;
}

.statistics-page .minor-cards {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
}

.statistics-page .minor-cards .weather-description {
    align-items: center;
}

.statistics-page .minor-cards .card {
    border-right: 2px solid rgba(255,255,255, 0.3);
}

.statistics-page .minor-cards .card:nth-last-child(1) {
    border: none;
}

.statistics-page .card-control {
    max-width: 550px;
    width: 100%;
    text-align: center;
    padding-left: 5.5px;
    background-color: rgba(31,31,31, .9);
    margin-top: 10px;
    border-radius: 5px;
}

.statistics-page .major-card .weather-description .degrees {
    font-size: 1.5em;
}

.statistics-page .weather-description {
    display: flex;
    flex-direction: column;
}

.weather-description img {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.statistics-page .minor-cards .weather-description img {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

.statistics-page .minor-cards .weather-description span {
    width: 100%;
}

.statistics-page .weather-stats img {
    height: 25px;
    width: 25px;
}

.weather-extra-info {
    display: none;
    height: 120px;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}

.weather-extra-info > span {
    width: 100%;
}

.weather-extra-info img {
    margin-right: 15px;
}

.sun-data {
    display: flex;
    margin: 5px 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.active-info {
    display: flex;
}

.hour-cards {
    height: 100%;
    width: 70%;
    margin: auto;
    min-width: 280px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hour-cards .left-side, .hour-cards .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3px;
    height: 95%;
}

.left-side .current-weather {
    color: #EBEBEB;
    font-size: 1.5em;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    height: 279px;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-end;
    padding-left: 15px;
}

.page-container .pages .city-name {
    font-size: 1.3em;
    font-weight: 600;
    margin: 3px;
}

.left-side .current-weather img {
    height: 100px;
    margin-bottom: 15px;
}

.hour-card {
    height: 100px;
    width: 100%;
    background-color: rgb(220 227 242);
    border-radius: 7px;
    margin: 3px 0;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.hour-card .hour {
    font-size: 1.5em;
}

.hour-card .temp-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.hour-card .temp-details .temp-container {
    display: flex;
}

.temp {
    font-size: 2.5em;
}

.current-weather-info .temp {
    width: 100%;
}

.degrees {
    font-size: 1em;
}

.hour-card .dropdown-menu {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.weather-condition {
    text-transform: capitalize;
}

.hour-cards {
    height: 100%;
    width: 70%;
    margin: auto;
    min-width: 280px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hour-cards .left-side, .hour-cards .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3px;
    height: 95%;
}

.left-side .current-weather {
    color: #EBEBEB;
    font-size: 1.5em;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    height: 279px;
    justify-content: space-evenly;
    width: 100%;
    align-items: end;
    padding-left: 15px;
}

.hour-card .description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 500;
    width: 50%;
    padding-right: 15px;
}

.hour-card {
    height: 100px;
    width: 100%;
    background-color: rgb(220 227 242);
    border-radius: 7px;
    margin: 3px 0;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.card-header {
    width: 100%;
    color: #EBEBEB;
    background-color: #2a90b3;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.4em;
}

.hour-cards .right-side div {
    width: 100%;
}

.current-weather-info {
    flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
    .hour-cards {
        flex-wrap: nowrap;
        align-items: center;
        width: 65%;
        overflow: auto;
    }
    .statistics-page .card {
        align-items: center;
    }
    .weather-day-info {
        display: flex;
        flex-direction: column;
    }
    .data-page .weather-extra-info {
        height: unset;
        width: 50%;
    }
    .weather-day-info span {
        margin: 5px;
    }
    .cards-information {
        display: block;
        height: unset;
        overflow: auto
    }
    .hour-cards .left-side, .hour-cards .right-side {
        height: unset;
        width: 100%;
    }
    .page-container > .statistics-page {
        padding: 0%;
    }
    .statistics-page .card-control {
        flex-wrap: wrap;
        max-width: unset;
        margin-bottom: 30px;
    }
    .statistics-page .major-card {
        height: 265px;
    }
    .minor-cards .card {
        width: 50%;
    }
    .cards-information {
        width: 85%;
        max-width: 666px;
    }
    .minor-cards .card:nth-last-child(3) {
        border: none;
    }
}

@media only screen and (max-width: 480px) {
    .cards-information {
        height: 100%;
        width: 100%;
        margin: 0 10px;
        justify-content: unset;

    }
    .statistics-page .major-card {
        height: unset;
    }
    .statistics-page .major-card .card {
        flex-wrap: wrap;
    }
    .statistics-page .major-card .weather-description img {
        margin: 0%;
    }
    .data-cards > div.data-list, .data-cards div.card {
        width: 100%;
    }
    .data-cards .data-list:nth-last-child(2) {
        margin-bottom: 40px;
    }
    .hour-cards {
        width: 100%;
        padding: 8px;
    }
    .hour-cards .right-side div.data-list:last-child {
        margin-bottom: 40px;
    }
    .hour-cards .left-side {
        margin-bottom: 8px;
    }
}

.data-cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    overflow: auto;
    padding: 25px 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.weather-day-info span {
    padding: 0 5px;
}

.data-cards::-webkit-scrollbar {
    width: 0%;
}

.data-cards::-webkit-scrollbar {
    background-color: rgb(38, 39, 39);
    color: rgba(255, 255, 255, .8);
    width: 10px;
    height: 100%;
    right: 0;
    top: 0px;
    position: absolute;
}

  /* .data-cards:hover::-webkit-scrollbar {
        background-color: rgb(38, 39, 39);
        color: rgba(255, 255, 255, .8);
        width: 10px;
        height: 100%;
        right: 0;
        top: 0px;
        position: absolute;
    } */

.data-cards::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
}

.data-cards .data-card {
    height: 80px;
    width: 80%;
    background-color: #EBEBEB;
    border-radius: 7px;
    margin: 3px;
}

.data-cards .data-list {
    width: 60%;
    min-width: 310px;
}

.data-cards .data-list .card-header {
    margin-top: 10px;

}

.data-cards .data-list .hour-card {
    justify-content: space-between;
}

.data-cards .card {
    width: 60%;
    display: flex;
    height: 250px;
    color: #EBEBEB;
    background-color: rgb(38, 39, 39);
    border-radius: 7px;
    padding: 10px;
    justify-content: space-between;
    min-width: 310px;
}

.data-cards .shadow {
    position: fixed;
    left: 50%;
    bottom: -120px;
    height: 120px;
    width: 100%;
    max-width: 1120px;
    box-shadow: 0px 0px 100px rgb(0 0 0);
    transform: translateX(-50%);
}