* {
  box-sizing: border-box;
  user-select: none;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  overflow: hidden;
}

#root {
  background-image: url(./assets/img/weather-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  letter-spacing: 1.3px;
}

.content {
  height: inherit;
}

@media only screen and (max-width: 992px) {
  .hourly-cards .hour-cards {
      flex-wrap: nowrap;
      align-items: center;
      width: 65%;
      overflow: auto;
  }

  .hourly-cards .hour-cards .left-side, .hourly-cards .hour-cards .right-side {
      height: unset;
      width: 100%;
  }
}

.dropdown-btn {
  height: 100%;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-btn i {
  transition: all ease .225s;
}

.dropdown-btn.expanded i {
  transform: rotate(180deg);
}

/* loading class */
.loader-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  background-color: rgba(23, 23, 26, 0.7) !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-loading {
  background-color: #172027;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.loading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
